@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #999;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-item {
  width: 60px;
  height: 30px;
  background: #ccc;
  text-decoration: none;
    color: #333;
}


.content {
  display: flex;
  flex-direction: column;
  
  padding: 40px 20px;
  
  
 
}

.content-block {
  display: flex;
  
  align-items: stretch;
  background-color: orange;
  
   
}


.side-image {
  flex: 1;
  height: 30rem;
  border: 3px solid #333;
  

  background: #aaa;
}

.text {
  flex: 2;
  padding: 20px;
  background: #fff;
  border: 3px solid #333 ;
  
  
}
.text h2 {
  margin-bottom: 20px;
  text-align: center  ;
  font-size: 3rem;
  font-weight: 500;
}


.content-reverse {
  display: flex;

  align-items: stretch;
  
  margin-left: auto;
  
}

.heading{
    display: flex;
    justify-content: center;
    padding: 30px;

}

.footer {
  padding: 20px;
  background: #ddd;
  
  height: 30vh;
  display: flex;
  flex-direction: column;

}